@font-face {
  font-display: block;
  font-family: "Geist";
  src: url("assets/fonts/Geist-Regular.woff2");
}

:root {
  font-family: Geist;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}